<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FastReport.Compat" version="2020.4.2" targetFramework="net471" />
  <package id="FastReport.OpenSource" version="2021.1.0" targetFramework="net471" />
  <package id="FastReport.OpenSource.Export.PdfSimple" version="2021.1.2" targetFramework="net471" />
  <package id="MSTest.TestAdapter" version="2.1.1" targetFramework="net471" />
  <package id="MSTest.TestFramework" version="2.1.1" targetFramework="net471" />
  <package id="System.ComponentModel.Annotations" version="4.1.0" targetFramework="net471" />
  <package id="System.Drawing.Common" version="4.5.1" targetFramework="net471" />
</packages>