---
---

@import "{{ site.theme }}";
.page-header {
	padding: 2rem 4rem;
}
.page-header {
	color: #fff;
	text-align: center;
	background-color: #123d93;
	background-image: linear-gradient(120deg, #3e478a, #1a687d);
}
.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
	margin-top: 2rem;
	margin-bottom: 1rem;
	font-weight: normal;
	color: #2f3981;
}
.main-content h4 {
	margin-left: 2rem;
}