@{
    ViewData["Title"] = "Contact";
}
<h2>Our contacts</h2>
<p>Fast Reports is an international company with offices in America, Europe and Africa. We have web sites in 10 different languages and our products are localized to 40+ languages. We have dealers and partners in 50+ countries.</p>
<p>We have more than 20,000 customers worldwide.</p>
<p>We will enter into partnerships and collaborations. Our skilled services and reasonable licensing policies make our clients into our colleagues and friends. Our employees will be pleased to help you with any questions you might have about FastReports.</p>

<address>
    901 N Pitt Str #325 <br />
    Alexandria VA 22314 <br />
    <abbr title="Phone">P:</abbr> 800-985-8986 (USA only)
</address>

<address>
    <strong>Support:</strong> <a href="mailto:support@fast-report.com">support@fast-report.com</a>
</address>
